[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MSTest"]
	path = MSTest
	url = https://github.com/roga11/mstest
	shallow = true
	registered = true
